@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: inherit;

	font-family: "微软雅黑";
	vertical-align:baseline;
	color: #000;
}
body {
	line-height: 1;
	font-size:12px;
	font-family:"微软雅黑";
	color:#707070;
	background-image:url("../images/pattern2.png");
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

a{ text-decoration:none;}
a:link{ text-decoration:none;}
a:visited{ text-decoration:none;}
a:hover{ text-decoration:none;outline:none;}
a:active, a:focus {outline:none;}

/*浮动相关*/
.floatleft{float:left;}
.floatright{float:right;}
.clear{clear:both;}
.fix{overflow:hidden; zoom:1;}

.mt_10{ margin-top:10px;}
.mt_15{ margin-top:15px;}
.mt_20{ margin-top:20px;}
.ml_15{ margin-left:15px;}
