@charset "utf-8";
/* CSS Document */

.main_1026{ width:1026px; margin:0px auto;}
.float_1026{ width:1026px; float:left;}

.topbg{ background:url(../images/topbg.png) left top repeat-x; height:90px; width:100%;}


.logo_fix{ height:90px; overflow:hidden; zoom:1;}
.logo{ width:210px; float:left; padding:5px 0px 0px 0px;}
.nav{ width:787px; float:right; font:normal 20px/70px "微软雅黑"; height:90px; overflow:hidden;}
.nav a{ width:98px; height:90px; float:left; text-align:center; color:#fff; overflow:hidden;font:normal 20px/70px "微软雅黑";}
.nav a:hover{ background:url(../images/navon.png) left top no-repeat; color:#007130;font:normal 22px/100px "微软雅黑";} 
.nav a.navon{ background:url(../images/navon.png) left top no-repeat; color:#007130;} 

.footerbg{background-color:#fff;min-width:1026px;}
.footer{ padding:20px 0px 30px; font-family:"微软雅黑"; line-height:18px;}
.footer li{ text-align:center;}

.mainbg{ background:url(../images/pattern2.png) left top repeat; padding-bottom:21px;min-width:1026px;}
.contentbg{ background:url(../images/bg_c.gif) top center repeat-y;min-width:1026px;}

.piaofu{position:absolute; top:120px; z-index:9990; width:159px;}
.piaofuT{ background:url(../images/pf_top.png) left top no-repeat; height:5px; overflow:hidden;}
.piaofuF{ background:url(../images/pf_footer.png) left bottom no-repeat; height:5px; overflow:hidden;}
.piaofuC{ background:url(../images/pf_c.gif) left top repeat-y; overflow:hidden;}

.piaofu_div{ padding:0px 4px 0px 5px;}
.piaofu_cont{ background:url(../images/pf_cont.gif) left top no-repeat; height:28px; text-align:center; padding-top:10px;}
.piaofu_conf{ background:url(../images/pf_conf.gif) left top no-repeat; height:5px; overflow:hidden;}
.piaofu_conc{ background:url(../images/pf_conc.gif) left top repeat-y; overflow:hidden;}
.piaofu_conc_txt{ padding:5px; line-height:18px; color:#434343; font-family:"微软雅黑";}
.piaofu_conc_txt ul{ padding:5px 3px;}
.piaofu_conctwo{ background:url(../images/pf_conctwo.gif) left top repeat-y; text-align:center; padding:5px 0px;}
.piaofu_conftwo{ background:url(../images/pf_conftwo.gif) left top no-repeat; height:5px; overflow:hidden;}


.home_banner{ height:430px; position:relative; z-index:10; overflow:hidden; min-width:1026px;background:url(../images/pattern2.png) left top repeat;}
.home_banner_img{ height:430px; overflow:hidden;}
.home_banner_img li{ height:430px; overflow:hidden; display:none; background-position:center center; background-repeat:no-repeat;}
.home_banner_popup{position:relative;bottom:0px; background:#555555;filter:alpha(opacity=30);-moz-opacity:0.30;opacity:0.30;background-position:center center;width:1030px; height:40px; z-index:11;}
.home_banner_dian{ height:40px; position:absolute; width:100%; height:15px; padding:12px 0px; overflow:hidden; text-align:center; left:0px; bottom:0px;background-position:center center; z-index:12;}
.home_banner_dian a{ display:inline-block; zoom:1; width:15px; height:15px; cursor:pointer; margin:0px 12px; background:url(../images/bannera.png) left top no-repeat;_background-image:url(../images/bannera.gif);}
.home_banner_dian a.home_banner_aon{ background-image:url(../images/banneraon.png);_background-image:url(../images/banneraon.gif);background-position:center center;}

.home_intro_box{ overflow:hidden; zoom:1; padding:15px 10px 10px 0px;}
.home_intro_left{ width:650px; float:left;}
.home_intro_title{ margin-left:20px; border-bottom:1px solid #ffefd7; padding:5px 0px 0px 0px;}
.home_intro_main{ background:url(../images/徐州简介内容图片.gif) 7px 7px no-repeat; padding:10px 0px 20px 200px; line-height:21px; color:#363636;}
.home_intro_main a{ color:#cfa972;}
.home_intro_main a:hover{ color:#cfa972; text-decoration:underline;}
.home_intro_vedio{ background:url(../images/swf背景.gif) left top no-repeat; float:right; width:346px; height:236px;}
.home_intro_vedio_txt{ font-size:18px; line-height:18px; text-align:center;}
.home_intro_vedio_img{ padding:10px 19px 8px 20px; overflow:hidden; height:194px;}

.home_adv{ position:relative; background:url(../images/homeadvbg.png) left top repeat-x; height:211px; z-index:1;_background-image:url(../images/homeadvbg.gif); padding:20px 0px 14px 1px;}
.home_adv_left{ background:url(../images/home_adv_left.png) left top no-repeat; position:absolute; left:-13px; top:0px; width:13px; height:251px; overflow:hidden;_background-image:url(../images/home_adv_left.gif); z-index:2;}
.home_adv_right{ background:url(../images/home_adv_right.png) left top no-repeat; position:absolute; right:-13px; top:0px; width:13px; height:251px; overflow:hidden;_background-image:url(../images/home_adv_right.gif); z-index:2;}
.home_adv_fix{ height:211px; overflow:hidden; zoom:1;}
.home_adv_div{ width:232px; height:200px; padding:6px 7px 5px 6px;background:url(../images/home_advimgbg.gif) left top no-repeat;_display:inline; float:left; margin-left:15px;}
.home_adv_img{ height:124px; overflow:hidden; width:232px;}
.home_adv_txt{ line-height:18px; height:70px; overflow:hidden; padding:0px 5px;}
.home_adv_txt h6{ font:normal 16px/21px "微软雅黑"; color:#62b91e; padding:5px 0px;}
.home_adv_txt a{color:#62b91e; }
.home_adv_txt a:hover{color:#62b91e; text-decoration:underline;}

.home_change{background:url(../images/home_changebg.png) #f5e6cf left top repeat-x; padding:15px 15px 0px;}
.home_change_pe{ height:145px;overflow:hidden;position:relative; margin-bottom:35px;}
.home_change_po{ width:3000px; position:absolute; left:0px; top:0px; height:137px; overflow:hidden; zoom:1;}
.home_change_498{ width:480px; float:left; padding:0px 18px 0px 0px;}
.home_change_img{ width:218px; height:237px; float:left; overflow:hidden;}
.home_change_txt{ width:250px; float:right; line-height:21px;}
.home_change_txt h6{ height:24px; padding-bottom:6px; overflow:hidden;}

.home_change_dian{ padding:10px 0px 15px; text-align:center; height:17px; overflow:hidden; background-position:center center;width:1032px}
.home_change_dian a{ display:inline-block; zoom:1; width:17px; height:17px; cursor:pointer; background:url(../images/home_changea.gif) left top no-repeat; margin:0px 5px;}
.home_change_dian a.home_change_dianon{ background-image:url(../images/home_changeaoon.gif); background-position:center center;width:1032px}

.content_box{ padding:0px 16px 0px 15px;-moz-box-shadow:0px 0px 5px #888;-webkit-box-shadow:0px 0px 5px #888;box-shadow:0px 0px 5px #888; }
.content_title{ background:url(../images/content_titlebg.png) left top no-repeat; height:105px; padding:42px 0px 0px 23px;}

.content_fix{ overflow:hidden; zoom:1; padding-bottom:30px;}
.content_285{ width:285px; float:left;}
.content_leftT{ background:url(../images/con_leftT.gif) left top no-repeat; height:76px; overflow:hidden;}
.content_leftF{ background:url(../images/con_leftF.gif) left top no-repeat; height:76px; overflow:hidden;}
.content_leftC{
	background:url(../images/con_leftC.gif) left top repeat-y;
	padding:0px 50px 25px 45px;
	line-height:24px;
	color:#fff;
	text-indent: 2em;
}
.content_697{ width:697px; float:right; padding-top:25px;}
.content_bigimg{ height:386px; overflow:hidden; padding:8px; border:1px solid #f9eddc;}
.content_bigimg li{ height:386px; overflow:hidden; display:none;}
.content_small{ height:76px; overflow:hidden; zoom:1; padding:30px 0px;}
.jtl{ background:url(../images/jtl.gif) center center no-repeat;width:26px; height:76px; cursor:pointer; float:left;}
.jtr{ background:url(../images/jtr.gif) center center no-repeat;width:26px; height:76px; cursor:pointer; float:right;}
.small_box{ width:630px; float:left; height:94px; margin-left:8px;_display:inline; overflow:hidden; position:relative;}
.small_box div{ position:absolute; left:0px; top:0px; width:6000px; height:94px; overflow:hidden; zoom:1;}
.small_box div ul{ width:126px; float:left;}
.small_box div ul h6{ width:106px; background:url(../images/small_a.gif) left top no-repeat; height:60px; cursor:pointer; margin:0px 3px;_display:inline-block; padding:8px 7px; float:left;}
.small_box div ul.small_lion h6{ background-image:url(../images/small_on.gif);}
.small_box div ul p{ height:18px; line-height:18px; overflow:hidden; text-align:center;}

.active_box{}
.active_fix{ padding:10px 0px; border-bottom:1px solid #f0f0f0; overflow:hidden; zoom:1; height:300px;}
.active_img{ width:232px; float:left; height:200px;}
.active_txt{ width:700px; float:right; font:normal 14px/24px "微软雅黑";}
.active_txt2{ width:450px; float:left; height:300px;}
.active_img2{ width:450px; float:right; font:normal 14px/24px "微软雅黑";}
.active_txt h6{ color:#62b91e; font-size:18px; font-weight:bold;}
.active_txt h6 a{color:#62b91e; }
.active_txt h6 a:hover{color:#62b91e; text-decoration:underline;}
.ny_box{
	line-height:27px;
	padding:20px 20px;
	padding-left: 10px;
}
.ny_box h6{ font-size:14px; text-align:center; padding-bottom:15px;font-weight:bold;}

.charge_tab{ background-color:#fafafa; height:33px; overflow:hidden; zoom:1; padding:5px 0px;font:normal 14px/33px "微软雅黑";}
.charge_tab a{ width:89px; height:33px; text-align:center; float:left; color:#636363; margin-left:10px;_display:inline;}
.charge_tab a:hover{ background:url(../images/tabon.gif) left top no-repeat; color:#fff; text-decoration:none;}
.charge_tab a.charge_tabon{ background:url(../images/tabon.gif) left top no-repeat; color:#fff;}
.charge_box{
	font-size:14px;
	font-family:"微软雅黑";
	line-height:18px;
	color:#636363;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 130px;
	padding-left: 10px;
}
.charge_box h6{
	color:#39b54a;
	height:28px;
	line-height:28px;
	font-weight:normal;
	background-color:#e5f3c1;
	overflow:hidden;
	font-size: 21px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}
.charge_box ul{ padding:5px 10px;}
.charge_box ul p{
	line-height:28px;
	text-indent:2em;
	font-size:16px;
	;
	background-color: #FFffCC;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin: auto;
}
.charge_box ul h2{
	line-height:30px;
	font-size:20px;
	background-color: #FFFF99;
	margin-top: 10px;
	margin-bottom: 12px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 160px;
	color: #535353;
}
.about_us{ padding:50px; line-height:21px;}
